
/.build-release
/CxImage/Release
/.codelite
/.vscode
CxImage/CxImage.txt
include/include.txt
*.mk
*.d
/include/Release
libControl/libControl.txt
/libControl/Release
libDeepLearning/libDeepLearning.txt
/libDeepLearning/Release
/libDialog/Release
/libEmail/Release
libEmail/libEmail.txt
/libextern/ffmpeg-master
/libextern/heif-master
/libextern/qpdf-release-qpdf-10.3.2
/libFiltre/Release
/libGeolocalisation/Release
/libOpenCL/Release
/libOpenGL/Release
/libParameter/Release
RegardsViewer_macsilicon/package/RegardsLiteViewer/.DS_Store
RegardsViewer_macsilicon/package/.DS_Store
/RegardsViewer_linux/Release
/RegardsViewer_linux/Package/RegardsViewer
RegardsViewer/package/RegardsLiteViewer2_arm64_win.exe
RegardsViewer/package/Associate.exe
/Otherlib/wxPDFDoc
/Otherlib/libJbig/Release
/libWindow/Release
Otherlib/libJbig/libJbig.txt
Makefile
libDialog/libDialog.txt
libFiltre/libFiltre.txt
libGeolocalisation/libGeolocalisation.txt
libOpenCL/libOpenCL.txt
libOpenGL/libOpenGL.txt
libParameter/libParameter.txt
libPicture/libPicture.txt
/libPicture/Release
libResource/libResource.txt
/libResource/Release
/libSqlData/Release
libSqlData/libSqlData.txt
/libSqlEngine/Release
libSqlEngine/libSqlEngine.txt
/libTheme/Release
libTheme/libTheme.txt
/libUtility/Release
libUtility/libUtility.txt
/libVideoConverter/Release
libVideoConverter/libVideoConverter.txt
/libVideoEffect/Release
libVideoEffect/libVideoEffect.txt
libVideoConverter/.DS_Store
libViewer/libViewer.txt
/libViewer/Release
libWindow/libWindow.txt
/.vs/RegardsWxWidget
/CxImage/x64/Debug
/include/header_debug.pch
/libControl/x64/Debug
/libDialog/x64/Debug
/libEmail/x64/Debug
/libFiltre/x64/Debug
/libGeolocalisation/x64/Debug
/libOpenCL/x64/Debug
/libOpenGL/x64/Debug
/libParameter/x64/Debug
/libPicture/x64/Debug
/libResource/x64/Debug
/libSqlData/x64/Debug
/libSqlEngine/x64/Debug
/libTheme/x64/Debug
/libUtility/x64/Debug
/libVideoConverter/x64/Debug
/libVideoEffect/x64/Debug
/libViewer/x64/Debug
/libWindow/x64/Debug
/Otherlib/libJbig/x64/Debug
/packages/Microsoft.Web.WebView2.1.0.1462.37
/RegardsViewer/x64/Debug
/x64/Debug
/libSqlEngine/libSqlEngine.vcxproj.user
/RegardsViewer/RegardsViewer.vcxproj.user
/libextern/vcpkg
/libextern/qpdf-master
/CxImage/x64/Release
*.pch
/libControl/x64/Release
/libDeepLearning/x64
/libDialog/x64/Release
/libEmail/x64/Release
/libFiltre/x64/Release
/libGeolocalisation/x64/Release
/libOpenCL/x64/Release
/libOpenGL/x64/Release
/libParameter/x64/Release
/libPicture/x64/Release
/libResource/x64/Release
/libSqlData/x64/Release
/libSqlEngine/x64/Release
/libTheme/x64/Release
/libUtility/x64/Release
/libVideoConverter/x64/Release
/libVideoEffect/x64/Release
/libViewer/x64/Release
/libWindow/x64/Release
/Otherlib/libJbig/x64/Release
/RegardsViewer/x64/Release
/x64
/libDeepLearning/libDeepLearning.vcxproj.user
/RegardsViewer_linux/Package/deb/RegardsLite_3.00.0.0-linux-x86_64/opt/RegardsLite
RegardsViewer_linux/Package/deb/RegardsLite_3.00.0.0_linux_amd64.deb
/RegardsViewer_linux/Package/RegardsLite
RegardsViewer_macsilicon/package/RegardsLite/.DS_Store
/Otherlib/wxPDFDoc/Debug
/Otherlib/wxPDFDoc/Debug
/Otherlib/wxPDFDoc/Release
/include/Debug
Otherlib/.DS_Store
libextern/.DS_Store
compile_commands.json
/libAppleFunction/Release
/RegardsViewer_macsilicon/Debug
RegardsViewer_macsilicon/RegardsLite_macsilicon.txt
libAppleFunction/libAppleFunction.txt
/.ctagsd
.ctagsd/ctagsd.json
/.ctagsd
.DS_Store
/RegardsViewer_macsilicon/Release
Otherlib/wxPDFDoc/wxPDFDoc.txt
Otherlib/wxPDFDoc/wxPDFDoc.mk
RegardsViewer_macsilicon/RegardsLiteViewer_macsilicon.txt
/ARM64/Release
/CxImage/ARM64/Release
/libControl/ARM64/Release
/libDialog/ARM64/Release
/libEmail/ARM64/Release
/libGeolocalisation/ARM64/Release
/libOpenCL/ARM64/Release
/libOpenGL/ARM64/Release
/libParameter/ARM64/Release
/libPicture/ARM64/Release
/libResource/ARM64/Release
/libSqlData/ARM64/Release
/libSqlEngine/ARM64/Release
/libTheme/ARM64/Release
/libUtility/ARM64/Release
/libVideoConverter/ARM64/Release
/libVideoEffect/ARM64/Release
/libViewer/ARM64/Release
/libWindow/ARM64/Release
/Otherlib/libJbig/ARM64/Release
/RegardsViewer/ARM64/Release
/libFiltre/ARM64/Release
/ARM64/RegardsViewer/Release
RegardsViewer_macsilicon/certificat_apple.pfx
RegardsViewer_macsilicon/change_dylib.sh
RegardsViewer_macsilicon/MacOsLibExplorer
RegardsViewer_macsilicon/package/RegardsLite.dmg
/RegardsViewer_macsilicon/package/RegardsLite
/RegardsViewer/package/Prerequisites/RegardsLite3
/RegardsViewer/package/Prerequisites/RegardsLite3.zip
/RegardsViewer/package/RegardsLite3Setup.exe
/CxImage/cximage.vcxproj.user
/include/include.vcxproj.user
/libControl/libControl.vcxproj.user
/libDialog/libDialog.vcxproj.user
/libEmail/libEmail.vcxproj.user
/libFiltreInterface/libFiltreInterface.vcxproj.user
/libGeolocalisation/libGeolocalisation.vcxproj.user
/libOpenGL/libOpenGL.vcxproj.user
/libParameter/libParameter.vcxproj.user
/libPicture/libPicture.vcxproj.user
/libResource/libResource.vcxproj.user
/libSqlData/libSqlData.vcxproj.user
/libTheme/libTheme.vcxproj.user
/libUtility/libUtility.vcxproj.user
/libVideoConverter/libVideoConverter.vcxproj.user
/libVideoEffect/libVideoEffect.vcxproj.user
/.build-debug
/CxImage/Debug
/libControl/Debug
/libDialog/Debug
/libEmail/Debug
/libFiltre/Debug
/libGeolocalisation/Debug
/libOpenCL/Debug
/libParameter/Debug
/libPicture/Debug
/libOpenGL/Debug
/libSqlData/Debug
/libResource/Debug
/libSqlEngine/Debug
/libTheme/Debug
/libUtility/Debug
libVideoConverter/Debug/AudioEncoder.cpp.o
/libVideoConverter/Debug
/libVideoEffect/Debug
/libViewer/Debug
/libWindow/Debug
/Otherlib/libJbig/Debug
/RegardsViewer_linux/Debug
RegardsViewer_linux/RegardsLite_linux.txt
/RegardsViewer_linux/Package/deb/RegardsLite_3.00.0.1-linux-x86_64
RegardsViewer_linux/Package/deb/RegardsLite_3.00.0.1_linux_amd64.deb
