
/.build-release
/CxImage/Release
/.codelite
/.vscode
CxImage/CxImage.txt
include/include.txt
*.mk
*.d
/include/Release
libControl/libControl.txt
/libControl/Release
libDeepLearning/libDeepLearning.txt
/libDeepLearning/Release
/libDialog/Release
/libEmail/Release
libEmail/libEmail.txt
/libextern/ffmpeg-master
/libextern/heif-master
/libextern/qpdf-release-qpdf-10.3.2
/libFiltre/Release
/libGeolocalisation/Release
/libOpenCL/Release
/libOpenGL/Release
/libParameter/Release
RegardsViewer_macsilicon/package/RegardsLiteViewer/.DS_Store
RegardsViewer_macsilicon/package/.DS_Store
/RegardsViewer_linux/Release
/RegardsViewer_linux/Package/RegardsViewer
RegardsViewer/package/RegardsLiteViewer2_arm64_win.exe
RegardsViewer/package/Associate.exe
/Otherlib/wxPDFDoc
/Otherlib/libJbig/Release
/libWindow/Release
Otherlib/libJbig/libJbig.txt
Makefile
libDialog/libDialog.txt
libFiltre/libFiltre.txt
libGeolocalisation/libGeolocalisation.txt
libOpenCL/libOpenCL.txt
libOpenGL/libOpenGL.txt
libParameter/libParameter.txt
libPicture/libPicture.txt
/libPicture/Release
libResource/libResource.txt
/libResource/Release
/libSqlData/Release
libSqlData/libSqlData.txt
/libSqlEngine/Release
libSqlEngine/libSqlEngine.txt
/libTheme/Release
libTheme/libTheme.txt
/libUtility/Release
libUtility/libUtility.txt
/libVideoConverter/Release
libVideoConverter/libVideoConverter.txt
/libVideoEffect/Release
libVideoEffect/libVideoEffect.txt
libVideoConverter/.DS_Store
libViewer/libViewer.txt
/libViewer/Release
libWindow/libWindow.txt
/.vs/RegardsWxWidget
/CxImage/x64/Debug
/include/header_debug.pch
/libControl/x64/Debug
/libDialog/x64/Debug
/libEmail/x64/Debug
/libFiltre/x64/Debug
/libGeolocalisation/x64/Debug
/libOpenCL/x64/Debug
/libOpenGL/x64/Debug
/libParameter/x64/Debug
/libPicture/x64/Debug
/libResource/x64/Debug
/libSqlData/x64/Debug
/libSqlEngine/x64/Debug
/libTheme/x64/Debug
/libUtility/x64/Debug
/libVideoConverter/x64/Debug
/libVideoEffect/x64/Debug
/libViewer/x64/Debug
/libWindow/x64/Debug
/Otherlib/libJbig/x64/Debug
/packages/Microsoft.Web.WebView2.1.0.1462.37
/RegardsViewer/x64/Debug
/x64/Debug
/libSqlEngine/libSqlEngine.vcxproj.user
/RegardsViewer/RegardsViewer.vcxproj.user
/libextern/vcpkg
/libextern/qpdf-master
